################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoneyCalculator/bin/Debug/net5.0
/MoneyCalculator/obj
